global:
  problem_type: regression

steps:
  data:
    extract:
      filepath: data/processed/kc_house_data_test.csv
      features:
        - bedrooms
        - bathrooms
        - sqft_living
        - sqft_lot
        - floors
        - waterfront
        - view
        - condition
        - grade
        - sqft_above
        - sqft_basement
        - yr_built
        - yr_renovated
        - zipcode
        - lat
        - long
        - sqft_living15
        - sqft_lot15
      target: price

    transform:
      normalize:
        features:
          module: sklearn.preprocessing.StandardScaler
          params:
            with_std: True
          columns:
            - sqft_living
            - sqft_lot
            - sqft_above
            - sqft_basement
            - sqft_living15
            - sqft_lot15
        target:
          module: sklearn.preprocessing.StandardScaler
          params:
            with_std: True
          columns: price

  model:
    extract:
      filepath: data/models/torch.20231116-133223.sav
    transform:
      predict:
        estimator:
          params:
            loader:
              batch_size: 20
              shuffle: True
        path: reports
